.super{
  text-align: center;
}
 .newdiv1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./congrats-card-bg.png");
  width: 100vw;
  height: 100vh;
}
.newcard{
  background-color: rgb(154, 228, 249);
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newtext{
    width: 100%;
    text-align: center;
}
.newimg{
  border-radius: 50%;
  height:80px;
  width:70px;
} 

/* .l1{
  background-color: rgba(2, 14, 62, 0.644);
  text-align: center;
  height: 100vh;
  width: 100vw;
  
} */
/* .d1{
  background-image: url("./galaxy1.jpeg");
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.d2{
  display: flex;
  margin-left: auto;
  margin-right:auto ;
  width:300px ;
  justify-content: space-evenly;
}
.h1{
  color: rgb(5, 0, 0);
  
}
.l1{
  background-color: yellow;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
.s1{
  background-color: blue;
  border-radius: 5px;
  width: 80px;
}
.c1{
  border-radius: 5px;
  width: 80px;
} */
/* .icon{
  color: aquamarine;
  margin-left: 20px;
  font-size: 50px;
} */
/* .divi1{
 text-align: center;
}
.icon1{
  color: aliceblue;
  margin-top: 5px;
}

.i1{
  margin-left: 5px;
}

.info{
  margin-left: 70px;
  border-radius: 5px;
  height: 50px;
} */

/*userprofile*/

/* .body{
  background-color: rgb(188, 39, 185);
  height: 100vh;
  width: 100vw;
}
.inn{
  position:absolute;
  height: 400px;
  width: 600px;
  background-color: whitesmoke;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 20px;
}
.info{
  margin-left: 350px;
  margin-top: 60px;
}
.inp{
  border-radius: 20px;
  border-style: hidden;
  background-color: rgb(221, 221, 221);
  height: 30px;
  width: 200px;
  
}
.but{
  border-radius: 20px;
  border-style: hidden;
  background-color: hsl(115, 100%, 50%);
  height: 30px;
  width: 200px;
  color: whitesmoke;
  margin-left: 15px;
}
.h4{
  margin-left: 30px;
}
.p1{
  color:hsl(115, 100%, 50%); ;
}
.p2{
  margin-left: 20px;
  font-size:smaller;
}
.img{
  position:absolute;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 100px;
  height: 200px;
  width: 200px;
} */

/* .body{
  background-color: rgba(183, 96, 193, 0.425);
  height: 100vh;
  width: 100vw;
} */
/* .inner{
  background-color: whitesmoke;
  border-radius: 20px;
  height: 50vh;
  position:absolute;
  

 
} */
/* .info{ */
  /* margin-left: 10%;
  margin-top: 30px; */
  /* background-color: whitesmoke; */
  /* height: fit-content; */
  
 
/* }
.img{
  margin-left: 20%;
  margin-top: 30%;
  border-radius: 40px;
  height: 150px;
    
} */

/*boxes*/
.box{
  text-align: center;
  margin-bottom: 40%;
}
.s1{
  background-color: yellow;
  margin-left: 5%; 
  padding: 5%;
  margin-top: 30%;
}
.m1{
  background-color: blue;
  margin-left: 10%; 
  padding:5%;
  margin-top: 20%;

}
.l1{
  background-color: palevioletred;
  margin-left: 10%; 
  padding: 5%;
  margin-top: 10%;
}

/* cards */

.a1{
  background-color: rgb(151, 187, 216);
  
}
.d3{
  margin-bottom: 10%;
  margin-left: 2%;
  border-radius: 2%;
  border-top: solid red;
  height: fit-content;
}
.d4{
  margin-left: 2%;
  margin-bottom: 10%;
  border-radius: 2%;
  border-top: solid blue;
  height: fit-content;
}
.d5{
  margin-left: 2%;
  margin-bottom: 5%;
  border-radius: 2%;
  border-top: solid green;
  height: fit-content;
}
.d6{
  margin-left: 2%;
  margin-bottom: 5%;
  border-radius: 2%;
  border-top: solid yellow;
  height: fit-content;
}
.i2{
  height: 10vh;
  border-radius: 10%;
  margin-left: 70%;
}
