.res4{
    color: aliceblue;
    background-color:  rgba(0, 0, 0, 0.863);
}
.home{
    color: rgba(241, 241, 28, 0.769);
}
.res4sam{
    color: rgba(241, 241, 28, 0.769);
}
.res4h4{
    color: yellow;
    font-weight: bold;
}
.circle1{
    margin-left: 1%;
}
.samp1{
    margin-left: 5%;
}