.res2text{
    color:rgba(241, 241, 28, 0.769);
}
.res2body{
    margin-top: 4%;
    margin-left: 7%;
}
.res2col{
    color:rgba(241, 241, 28, 0.769);
    margin-left: 19%;
    font-size: 300%;
}
.res2{
    background-color: rgba(0, 0, 0, 0.863);
    color: whitesmoke;
}
.but{
    margin-left: 17%;
}